.button-icon{
    width: 30px;
    background-color: var(--primary-500);
    padding: .4rem;
    box-sizing: content-box;
    border-radius: 50%;
    margin-right: 1rem;
    cursor: pointer;
    img{
        width: 30px;
        height: 30px;
    }
}

.button-icon-info{
    width: 25px;
    height: 25px;
    background-color: var(--text-primary);
    padding: .4rem;
    box-sizing: content-box;
    border-radius: 50%;
    margin-right: 1rem;
    display: flex;
    color: var(--accent-500);
    align-content: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img{
        width: 20px;
        height: 20px;
    }
    p{
        margin: 0;
        padding: 0;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
    }
}

.button-icon-edit{
    width: 25px;
    height: 25px;
    background-color: var(--primary-500);
    padding: .4rem;
    box-sizing: content-box;
    border-radius: 50%;
    margin-right: 1rem;
    display: flex;
    color: var(--accent-500);
    align-content: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img{
        width: 20px;
        height: 20px;
    }
    p{
        margin: 0;
        padding: 0;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
    }
}

.button-icon-detail{
    width: 25px;
    height: 25px;
    background-color: var(--text-primary);
    padding: .4rem;
    box-sizing: content-box;
    border-radius: 50%;
    margin-right: 1rem;
    display: flex;
    color: var(--accent-500);
    align-content: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img{
        width: 20px;
        height: 20px;
    }
    p{
        margin: 0;
        padding: 0;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
    }
}

.button-icon-back{
    width: 25px;
    height: 25px;
    background-color: var(--primary-500);
    padding: .4rem;
    box-sizing: content-box;
    border-radius: 50%;
    margin-right: 1rem;
    display: flex;
    color: var(--accent-500);
    align-content: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img{
        width: 20px;
        height: 20px;
    }
    p{
        margin: 0;
        padding: 0;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
    }
}

.button-icon-next-small{
    width: 25px;
    height: 25px;
    background-color: var(--primary-500);
    padding: .4rem;
    box-sizing: content-box;
    border-radius: 50%;
    margin-right: 1rem;
    display: flex;
    color: var(--accent-500);
    align-content: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img{
        width: 20px;
        height: 20px;
    }
    p{
        margin: 0;
        padding: 0;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
    }
}

