<div class="agenda-rules-container container">
    <div class="d-flex align-items-center w-100 mb-10">
        <app-icon-button class="me-3" [type]="'back'" [icon]="'images/back-arrow.png'" />
        <div class="flex-grow-1 d-flex justify-content-center">
            <h5 class="mb-0">REGLAS DE AGENDA</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="gray-container">
                <h4>RANGO DE HORARIO</h4>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
            <div class="gray-container">
                <h4>INTERVALOS</h4>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-12">
            <div class="gray-container">
                <h4>DÍAS</h4>
            </div>
        </div>
    </div>
</div>
