<div class="agenda-rules-container container">
    <div class="d-flex align-items-center w-100 mb-10">
        <app-icon-button class="me-3" [type]="'back'" [link]="'/configuracion'" [icon]="'images/back-arrow.png'" />
        <div class="flex-grow-1 d-flex justify-content-center">
            <h5 class="mb-0">REGLAS DE AGENDA</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="gray-container min-h-215">
                <h4>RANGO DE HORARIO</h4>
                <div class="start-date">
                    <div class="d-flex align-items-center input-time-container">
                        <label for="start-time" class="me-2 mb-0 flex-shrink-0">Hora de inicio</label>
                        <div class="ms-auto d-flex">
                            <input type="text" id="start-time" name="start-time" placeholder="08" class="me-1 input-time" style="width: 40px;">
                            <input type="text" id="start-time" name="start-time" placeholder="00" class="input-time" style="width: 40px;">
                        </div>
                    </div>
                </div>

                <div class="end-date">
                    <div class="d-flex align-items-center input-time-container">
                        <label for="start-time" class="me-2 mb-0 flex-shrink-0">Hora de inicio</label>
                        <div class="ms-auto d-flex">
                            <input type="text" id="start-time" name="start-time" placeholder="08" class="me-1 input-time" style="width: 40px;">
                            <input type="text" id="start-time" name="start-time" placeholder="00" class="input-time" style="width: 40px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
            <div class="gray-container min-h-215">
                <h4>INTERVALOS</h4>
                <div class="cicle">
                    <div class="d-flex align-items-center input-time-container">
                        <label for="start-time" class="me-2 mb-0 flex-shrink-0">Intervalos mínimos</label>
                        <div class="ms-auto d-flex flex-row flex-wrap">
                            <p style="width: 100%;">Minutos</p>
                            <input type="text" id="start-time" name="start-time" placeholder="08" class="me-1 input-time" style="width: 40px;">
                            <input type="text" id="start-time" name="start-time" placeholder="00" class="input-time" style="width: 40px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-12">
            <div class="gray-container min-h-150">
                <h4>DÍAS</h4>
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="days-container d-flex justify-content-between">

                            <div class="day-item">
                                <div class="form-check d-flex flex-column align-items-center">
                                <input class="form-check-input day-checkbox" type="checkbox" id="lunes" formControlName="lunes">
                                <label class="form-check-label day-label" for="lunes">LUN</label>
                                </div>
                            </div>

                            <div class="day-item">
                                <div class="form-check d-flex flex-column align-items-center">
                                <input class="form-check-input day-checkbox" type="checkbox" id="martes" formControlName="martes">
                                <label class="form-check-label day-label" for="martes">MAR</label>
                                </div>
                            </div>

                            <div class="day-item">
                                <div class="form-check d-flex flex-column align-items-center">
                                <input class="form-check-input day-checkbox" type="checkbox" id="miercoles" formControlName="miercoles">
                                <label class="form-check-label day-label" for="miercoles">MIÉ</label>
                                </div>
                            </div>

                            <div class="day-item">
                                <div class="form-check d-flex flex-column align-items-center">
                                <input class="form-check-input day-checkbox" type="checkbox" id="jueves" formControlName="jueves">
                                <label class="form-check-label day-label" for="jueves">JUE</label>
                                </div>
                            </div>

                            <div class="day-item">
                                <div class="form-check d-flex flex-column align-items-center">
                                <input class="form-check-input day-checkbox" type="checkbox" id="viernes" formControlName="viernes">
                                <label class="form-check-label day-label" for="viernes">VIE</label>
                                </div>
                            </div>

                            <div class="day-item">
                                <div class="form-check d-flex flex-column align-items-center">
                                <input class="form-check-input day-checkbox" type="checkbox" id="sabado" formControlName="sabado">
                                <label class="form-check-label day-label" for="sabado">SÁB</label>
                                </div>
                            </div>

                            <div class="day-item">
                                <div class="form-check d-flex flex-column align-items-center">
                                <input class="form-check-input day-checkbox" type="checkbox" id="domingo" formControlName="domingo">
                                <label class="form-check-label day-label" for="domingo">DOM</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center gap-5 mt-5 form-action-buttons">
          <button type="button" class="btn btn-primary">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</div>
