<main class="main bg-background">
  <div class="content bg-background">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3 sidebar">
          <!-- sidebar -->
          <img src="images/logo.png" alt="Habitz" class="logo-img">
          <app-menu-left />
        </div>
        <div class="col-12 col-md-6 col-lg-9 main-content p-0">
          <!-- container principal -->
          <div class="row head-dashboard">
            <h5 class="col-12 col-md-6 col-lg-6">DASHBOARD</h5>
            <div class="col-12 col-md-6 col-lg-6 ico-user">
              <a href="">
                <img src="images/user.png" alt="Perfil" class="" width="40" height="40">
              </a>
            </div>
          </div>
          <hr class="container-fluid p-0">

          <router-outlet />

        </div>
      </div>
    </div>

  </div>
</main>