<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-3 sidebar">
      <!-- sidebar -->
       <img src="images/logo.png" alt="Habitz" class="logo-img">

       <ul>
        <li><a href="#">Menú</a></li>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Configuración</a></li>
        <li><a href="#">Sugerencias</a></li>
        <li><a href="#">Perfil</a></li>
        <li><a href="#">Seguimiento</a></li>
       </ul>
       
    </div>
    <div class="col-12 col-md-6 col-lg-9 main-content">
      <!-- container principal -->
      <h2>Container Principal</h2>
    </div>
  </div>
</div>